{% extends 'thinker/panel_menu_thinker.html' %}
{% load static %}
{% block title %}پنل شکایات{% endblock %}


{% block body %}


<div class="text-center position-relative mr-4 ml-4 mb-5">
    <img id="logo_top" src="{% static 'root/image/icon.png' %}" alt="">

    <!-- TODO: add correct validation to fields register -->

    <main class="row justify-content-center" id="main_login_reg">

        <div class="col-lg-8 col-sm-10 col-12" id="right">
            <form class="text-right">
                <h3 class="text-right mb-4">شکایات</h3>

                <div class="form-group">
                    <input type="text" class="form-control" id="complaint" placeholder="موضوع">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="phone" placeholder="شماره تماس">
                </div>

                <div class="form-group">
                    <select name="units" class="form-control" id="units">
                        <option>واحد مربوطه</option>
                        <option value="1">مدیریت</option>
                        <option value="2">پشتیبانی</option>
                        <option value="3">مشاورین</option>
                        <option value="4">امور ثبت ایده</option>
                        <option value="5">امور مالی</option>
                        <option value="6">حراست</option>
                    </select>
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="text_complaint" rows="2" placeholder="متن شکایت"></textarea>
                </div>

                <button type="submit" class="btn btn-primary col-12" id="brn_register">ارسال</button>

                <hr>
                <div id="footer_complaint" class="row justify-content-around text-center mt-4 mb-0">
                    <div class="col-4">
                        <a href="#">صفحه قوانین ما</a>
                    </div>
                    <div class="col-4">
                        <span> تماس با پشتیبانی : 3537234678</span>
                    </div>
                    <div class="col-4">
                        <a href="#">صفحه سوالات متداول</a>
                    </div>
                </div>
            </form>
        </div><!--register-->

        <img id="logo_bottom" src="{% static 'root/image/icon_white_small.png' %}" alt="">
    </main>
</div>

<script>

</script>

<script>
$(document).ready(function () {
    $("#brn_register").click(function () {

        var complaint = $("#complaint").val();
        var phone = $("#phone").val();
        var units = $("#units").val();
        var text_complaint = $("#text_complaint").val();

        alert(complaint);
        alert(phone);
        alert(units);
        alert(text_complaint);

        var error;
        if (complaint == "") {
            alert("موضوع مشکل خود را وارد کنید .");
            error = '0';
        } else if (phone == "") {
            alert("شماره تلفن خود را وارد کنید .");
            error = '0';
        } else if (units == "واحد مربوطه") {
            alert("واحد مروبطه را انتخاب کیند .");
            error = '0';
        }else if (text_complaint == "") {
            alert("متن خود را وارد کنید .");
            error = '0';
        }
        else {
            error = '1';
        }

        if (error == "1") {
            $.ajax({
                url: '',
                type: 'POST',
                dataType: 'json',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    complaint: complaint,
                    phone: phone,
                    units: units,
                    text_complaint: text_complaint,
                },
                success: function (res) {
                    alert(res.status);
                }
            });
        }
    });
});
</script>
{% endblock body %}