{% extends 'base.html' %}
{% load static %}
{% block title %}پنل ایده پرداز{% endblock %}

{% block header %}

<div class="container">
        <span>
            <a class="navbar-brand">
                <img id="image_header" src="{% static '/root/image/icon_white.png' %}" width="55" height="40"
                     alt="logo_main">
                <h5 id="title_header" class="mr-5 d-none d-sm-block">پنل مدیریت ایده پرداز</h5>

            </a>
        </span>

    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>منو</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li><a href="#"><i style="margin: 5px 20px -4px 24px;" class="fas fa-pen-square fa-lg"></i>ویرایش اطلاعات</a></li>
                        <li><a href="#"><i style="margin: 5px 22px 1px 26px;" class="fas fa-lightbulb fa-lg"></i>ثبت ایده</a></li>
                        <li><a href="#"><i style="margin: 5px 20px -2px 22px;" class="fas fa-search fa-lg"></i>پیگیری ایده</a></li>
                        <li><a href="#"><i style="margin: 5px 18px 0px 22px;" class="fas fa-bullhorn fa-lg"></i>معرفی ایده</a></li>
                        <li><a href="#"><i style="margin: 5px 18px -1px 21px;" class="fas fa-handshake fa-lg"></i>مشاوره</a></li>
                        <!--<li><a href="#"><i style="margin: 5px 17px -1px 22px;" class="fas fa-file-signature fa-lg "></i>ثبت گزارش</a></li>-->
                        <li><a href="#"><i style="margin: 5px 18px -3px 20px;" class="fas fa-inbox fa-lg"></i>صندوق پیام</a></li>
                        <li><a href="#"><i style="margin: 5px 17px 1px 19px;" class="fas fa-balance-scale fa-lg"></i>شکایات</a></li>
                        <li><a href="#"><i style="margin: 5px 19px 1px 20px;" class="fas fa-hand-holding-heart fa-lg"></i>امور خیریه</a></li>
                    </ul>
                </div>
            </nav>
        </li> <!-- End menu right -->

        <li style="display: inline-flex">
            <div style="width: 100%;text-align: left; background: #24272d;padding: 0 5px 30px 0;">
                <div class="left_menu">
                    <a href="#" ><i class="fas fa-inbox fa-2x"></i></a>
                    <a href="#" ><i class="fas fa-cogs fa-2x"></i></a>
                    <a href="{% url 'user-logout' %}" id="icon_y"><i class="fas fa-sign-out-alt fa-2x"></i></a>

                </div>
            </div>
        </li><!-- End menu left -->
    </ul><!-- End Menu -->


</div> <!-- End container -->

<!-- Script Menu right -->
<script>
        new gnMenu(document.getElementById('gn-menu'));
</script>

{% endblock header %}





