{% extends 'thinker/panel_menu_thinker.html' %}
{% load static %}
{% block title %}پنل معرفی ایده{% endblock %}


{% block body %}

<style>

    #right_top_backer_panel{
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        color: #232323;
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        color: #666;
        opacity: 0.9;
        transition: 1s;
        transition: 1s;
    }
    #left_top_backer_panel{
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        color: #232323;
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        color: #666;
        opacity: 0.9;
        transition: 1s;
        height:330px;
    }
    #inbox_panel_main{
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        color: #232323;
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        color: #666;
        opacity: 0.9;
        transition: 1s;
    }
    #right_top_backer_panel:hover{
        opacity:1;
        transition: 1s;
    }
    #left_top_backer_panel:hover{
        opacity:1;
        transition: 1s;
    }
    #inbox_panel_main{
        opacity:1;
        transition: 1s;
    }
    #left_bottom_panel{
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        color: #232323;
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        color: #666;
        opacity: 0.9;
        transition: 1s;
    }
    #right_bottom_panel{
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        opacity: 0.9;
                transition: 1s;

    }

    #left_bottom_panel:hover{
         opacity:1;
        transition: 1s;
    }
    #right_bottom_panel:hover {
        background: #2b353e;
        color:#eee;
    }



    /*#######################################*/

    .snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}
.snip1577:before {
  width: 0;
  height: 1px;
}
.snip1577:after {
  height: 0;
  width: 1px;
}
.snip1577 figcaption {
    position: absolute;
    padding: 5px 80px;
    text-align: center;
    top: 100px;
}
.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}
.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}
.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}
.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1577:hover:before,
.snip1577.hover:before {
  width: 60px;
    height:2px;
}
.snip1577:hover:after,
.snip1577.hover:after {
  height: 60px;
  width: 2px;
}
.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

@media (max-width: 575.98px) {
.snip1577 figcaption {
position: absolute;
    padding: 0px 30px;
    text-align: center;
    top: 73px;
}



@media (min-width: 576px) and (max-width: 767.98px) {
    .snip1577 figcaption {
    position: absolute;
        padding: 0px 30px;
        text-align: center;
        top: 73px;
    }


 }

@media (min-width: 768px) and (max-width: 991.98px) {
.snip1577 figcaption {
position: absolute;
    padding: 0px 30px;
    text-align: center;
    top: 73px;
}

 }

@media (min-width: 992px) and (max-width: 1199.98px) {

 }





</style>


<div id="main_box_panel" style="margin: 65px 90px 20px 26px">
    <div class="row justify-content-around">
        <div class="col-lg-6 col-12 order-2 mb-4" id="right_top_backer_panel">
            <h3 class="text-right mb-4">ایده های برتر </h3>
            <table class="table table-striped table-hover table-sm table-light text-center">
                <thead>
                <tr>
                    <th scope="col" style="width: 50px;">ردیف</th>
                    <th scope="col">نام ایده</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>ماشین بدون چرخ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>کولر آبی بدون آب</td>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="col-lg-5 col-12 order-1 mb-4" id="left_top_backer_panel">
            <h3 class="text-right mb-4">ایده های من</h3>
            <table class="table table-striped table-hover  table-light text-center">
                <thead>
                <tr>
                    <th scope="col" > تعداد ایده های من </th>
                    <th scope="col" >رتبه</th>
                    <th scope="col" >تعداد رای ها</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2</td>
                    <td>1200</td>
                    <td>12/102</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div class="row justify-content-around" style="  margin-right: -25px !important; margin-left: -25px !important;">
        <div class="col-11 mr-4 ml-4 mb-4" id="inbox_panel_main">
            <h3 class="text-right mb-4">پیام های عمومی</h3>
            <table class="table table-striped table-hover table-sm table-light text-center">
                <thead>
                <tr>
                    <th scope="col" style="width: 40px;">ردیف</th>
                    <th scope="col" style="width:70px;">تاریخ</th>
                    <th scope="col" style="width:100px;">موضوع</th>
                    <th scope="col" style="width: 300px;">پیام</th>
                    <th scope="col" style="width: 70px;">وضعیت پیام</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1397/4/25</td>
                    <td>خوش آمدید گویی</td>
                    <td>با عرض سلام ، ورود شما ایده پرداز عزیز را به دنیا ParsRix تبریک می گوییم . ( باهم - برای هم )</td>
                    <td>جدید</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row justify-content-around">

        <div class="row justify-content-around col-lg-5 mb-4" id="left_bottom_panel">
           <div class="text-center">
                <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-lg" style="    margin-top: 14px;border-radius: 0; background-color: #0098c2;padding: 20px 40px; color: #fff;
 border-color: #0099c4;">پرداخت حق عضویت باشگاه حامی
                </button>
            </div>
        </div>

        <div class="col-lg-6 mb-4 text-center" id="right_bottom_panel">
            <h4 class="mt-3">اعتبار ساعت مشاوره :   </h4>
            <h4 class="mt-3">00 : 00  </h4>
        </div>

    </div>


</div>

<img id="logo_bottom" src="{% static 'root/image/icon_white_small.png' %}" alt="">


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">پرداخت حق عضویت باشگاه حامی</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        style="    margin: -1rem auto -1rem -1rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <table class="table table-striped table-hover table-sm table-light text-center">
                <thead>
                <tr>
                    <th scope="col" >تاریخ</th>
                    <th scope="col" >نوع تراکنش</th>
                    <th scope="col" >مبلغ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1397/4/25</td>
                    <td>پرداخت حق عضویت باشگاه حامیان</td>
                    <td>5/000 تومان</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-success">پرداخت</button>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
