{% extends 'thinker/panel_menu_thinker.html' %}
{% load static %}
{% block title %}پنل گزارش ایده{% endblock %}


{% block body %}
<style>
    body{
        overflow: hidden;
    }
</style>


<div class="text-center col-12 position-relative mr-4">
    <img id="logo_top" src="{% static 'root/image/icon.png' %}" alt="">

    <div id="text_report" class="alert position-relative col-lg-6 col-md-8 col-sm-8 col-8" role="alert">
        <h4 class="alert-heading">اطلاعیه </h4>
        <p>این صفحه در زمان رأی‌گیری فعال خواهد گردید و به اطلاع شما عزیزان خواهد رسید .</p>
        <hr style="border-top: 1px solid #71ed87;">
        <p class="mb-0">" با تشکر از همراهی شما "</p>
    </div>

    <img id="logo_bottom" src="{% static 'root/image/icon_white_small.png' %}" alt="">
</div>


{% endblock body %}