{% extends 'thinker/panel_menu_thinker.html' %}
{% load static %}
{% block title %}پنل پیگیری ایده{% endblock %}


{% block body %}

<style>

    #right td {
            vertical-align: unset !important;
    }

</style>


<div id="right" style="margin:80px 100px 80px 40px;">

                <h3 class="text-right mb-4">پیگیری ایده</h3>
    <table class="table table-striped w-100 table-responsive-md table-hover text-center">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">نام ایده</th>
            <th scope="col">تاریخ ثبت</th>
            <th scope="col">شماره ثبت</th>
            <th scope="col">وضعیت</th>
            <th scope="col">عملیات</th>

        </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row">1</th>
            <td>ماشین بدون چرخ</td>
            <td>1397/11/12</td>
            <td>125458222</td>
            <td>در حال بررسی</td>
            <td>
                <button type="button" class="btn btn-success text-center" data-toggle="modal" data-target="#exampleModalCenter1" style="padding:5px 10px;">
                    <i class="fas fa-pen fa-sm"></i>
                </button>
                <button type="button" class="btn btn-danger text-center" data-toggle="modal" data-target="#exampleModalCenter2" style="padding:5px 10px;">
                    <i class="fas fa-trash-alt  fa-sm"></i>
                </button>

            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>ماشین بدون سوخت</td>
            <td>1398/11/12</td>
            <td>245656657</td>
            <td>ثبت شده</td>
            <td>
                <button type="button" class="btn btn-success text-center" data-toggle="modal" data-target="#exampleModalCenter3" style="padding:5px 10px;">
                    <i class="fas fa-pen   fa-sm"></i>
                </button>
                <button type="button" class="btn btn-danger text-center" data-toggle="modal" data-target="#exampleModalCenter4" style="padding:5px 10px;">
                    <i class="fas fa-trash-alt  fa-sm"></i>
                </button>

            </td>
        </tr>

        </tbody>
    </table>


</div>

   <!--------------------------------------------------------------------------------------------------------->


<!-- Modal delete وضعیت ثبت موقت -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">حذف ایده</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -1rem auto -1rem -1rem;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-right">
                    آیا میخواهید ایده خود را حذف کنید ؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 0;background-color: #0098c2;border-color: #0099c4;padding: 5px 20px;    margin: 0px 5px;">خیر</button>
                    <button type="button" class="btn  btn-danger" style="border-radius: 0;padding: 5px 20px;margin: 0px 5px;">بله</button>
                </div>
            </div>
        </div>
    </div>


 <!-- Modal delete  وضعیت ثبت شده و درحال بررسی -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">ویرایش ایده</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -1rem auto -1rem -1rem;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <P><b>" ویرایش ایده امکان پزیر نیست "</b></P>
                    <P>برای دریافت اطلاعات بیشتر با پشتیبانی تماس داشته باشند .</P>
                    <br>
                    <h3 >03537234678</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 0;background-color: #0098c2;border-color: #0099c4;padding: 5px 20px;    margin: 0px 5px;">بستن</button>
                </div>
            </div>
        </div>
    </div>


<!-- Modal ویرایش وضعیت ثبت شده و در حال بررسی -->
    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">حذف ایده</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -1rem auto -1rem -1rem;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <P><b>" حذف ایده امکان پزیر نیست "</b></P>
                    <P>برای دریافت اطلاعات بیشتر با پشتیبانی تماس داشته باشند .</P>
                    <br>
                    <h4>03537234678</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 0;background-color: #0098c2;border-color: #0099c4;padding: 5px 20px;    margin: 0px 5px;">بستن</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal 111 -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">ویرایش ایده</h5>
                    <button type="button" class="close" data-dismiss="modal"  aria-label="Close" style="    margin: -1rem auto -1rem -1rem;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <div class="row justify-content-around col-12 " >


        <form class="text-right col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" id="national_code" placeholder="عنوان ایده به فارسی">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="national_code" placeholder="عنوان ایده به انگلیسی">
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="first_name" placeholder="زمینه ایده">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="last_name" placeholder="جامعه هدف">
                </div>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" id="national_code" placeholder="لیست همکاران">
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="number" class="form-control" id="first_name"
                           placeholder="سرمایه مورد نظر به میلیون تومان">
                </div>
                <div class="form-group col-sm-6">
                    <input type="number" class="form-control" id="last_name" placeholder="مدت اجرا به ماه">
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="text_complaint" rows="4" style=" min-height: 250px; max-height: 300px;"
                          placeholder="توضیح مختصر در مورد ایده"></textarea>
            </div>


            <!--<div class="form-group row justify-content-around">-->
            <!--<input type="text" class="col-5 form-control" id="captcha_1" placeholder="کد کپچا">-->

            <!--<input type="text" class="col-5 form-control" id="captcha_2" placeholder="1205452">-->
            <!--</div>-->

        </form>


        <div class="" style="background: #0c494a; width: 10px !important;"></div>


        <div class="text-right col-lg-5">

            <!-- Upload  -->
            <form id="file-upload-form" class="uploader">

                <input id="file-upload" type="file" name="fileUpload" accept="*"/>

                <label for="file-upload" id="file-drag">
                    <img id="file-image" src="#" alt="Preview" class="hidden">
                    <div id="start">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div></div>
                        <div>-- Business Plan --</div>
                        <div>پلن کاری خود را انتخاب کنید یا اینجا بکشید</div>
                        <div id="notimage" class="hidden">لطفا یک pdf را انتخاب کنید</div>
                        <span id="file-upload-btn" class="btn btn-success">انتخاب فایل</span>
                    </div>
                    <div id="response" class="hidden">
                        <div id="messages"></div>
                        <progress class="progress" id="file-progress" value="0">
                            <span>0</span>%
                        </progress>
                    </div>
                </label>
            </form>

            <div  class="text-justify">
                <p>فایل خود را با شرایط زیر اپلود کنید تا بتوانیم اطلاعات شما را به صورت رسمی بررسی کینم و شرایط رسمی داشته باشد .</p>
                <p>1 - فایل باید حتما PDF باشد و می توانید از فایل نمونه زیر استفاده کنید .</p>
                <p>2 - باید حجم فایل زیر 200 کیلوبایت باشد </p>
                <p>3 - باید حجم فایل زیر 200 کیلوبایت باشد </p>
            </div>

<style>


@media (max-width: 440px) {
#submit_idea_main {
margin: 60px 10px 60px 10px !important;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}


.uploader {
display: block;
clear: both;
margin: 0 auto;
width: 100%;
max-width: 600px;
}
.uploader label {
float: left;
clear: both;
width: 100%;
padding: 2rem 1.5rem;
text-align: center;
background: #fff;
border-radius: 0px;
border: 3px solid #eee;
transition: all .2s ease;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.uploader label:hover {
border-color: #30714f;
}
.uploader label.hover {
border: 3px solid #454cad;
box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
-webkit-transform: scale(0.8);
transform: scale(0.8);
opacity: 0.3;
}
.uploader #start {
float: left;
clear: both;
width: 100%;
}
.uploader #start.hidden {
display: none;
}
.uploader #start i.fa {
font-size: 50px;
margin-bottom: 1rem;
transition: all .2s ease-in-out;
}
.uploader #response {
float: left;
clear: both;
width: 100%;
}
.uploader #response.hidden {
display: none;
}
.uploader #response #messages {
margin-bottom: .5rem;
}
.uploader #file-image {
display: inline;
margin: 0 auto .5rem auto;
width: auto;
height: auto;
max-width: 180px;

}
.uploader #file-image.hidden {
display: none;
}
.uploader #notimage {
display: block;
float: left;
clear: both;
width: 100%;
}
.uploader #notimage.hidden {
display: none;
}
.uploader progress,
.uploader .progress {
display: inline;
clear: both;
margin: 0 auto;
width: 100%;
max-width: 180px;
height: 8px;
border: 0;
border-radius: 0px;
background-color: #eee;
overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
border-radius: 0px;
background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
background: linear-gradient(to right, #393f90 0%, #454cad 50%);
border-radius: 0px;
}
.uploader .progress[value]::-moz-progress-bar {
background: linear-gradient(to right, #393f90 0%, #454cad 50%);
border-radius: 0px;
}
.uploader input[type="file"] {
display: none;
}
.uploader div {
margin: 0 0 .5rem 0;
color: #5f6982;
}
.uploader .btn {
display: inline-block;
margin: .5rem .5rem 1rem .5rem;
clear: both;
font-family: inherit;
font-weight: 700;
font-size: 14px;
text-decoration: none;
text-transform: initial;
border: none;
border-radius: 0;
outline: none;
padding: 0 1rem;
height: 36px;
line-height: 36px;
color: #fff;
transition: all 0.2s ease-in-out;
box-sizing: border-box;
background: #0c494a;
border-color: #2badaf;
cursor: pointer;
}




</style>
<script>


function ekUpload(){
function Init() {

console.log("Upload Initialised");

var fileSelect    = document.getElementById('file-upload'),
fileDrag      = document.getElementById('file-drag'),
submitButton  = document.getElementById('submit-button');

fileSelect.addEventListener('change', fileSelectHandler, false);

// Is XHR2 available?
var xhr = new XMLHttpRequest();
if (xhr.upload) {
// File Drop
fileDrag.addEventListener('dragover', fileDragHover, false);
fileDrag.addEventListener('dragleave', fileDragHover, false);
fileDrag.addEventListener('drop', fileSelectHandler, false);
}
}

function fileDragHover(e) {
var fileDrag = document.getElementById('file-drag');

e.stopPropagation();
e.preventDefault();

fileDrag.className = (e.type === 'dragover' ? 'hover' : 'modal-body file-upload');
}

function fileSelectHandler(e) {
// Fetch FileList object
var files = e.target.files || e.dataTransfer.files;

// Cancel event and hover styling
fileDragHover(e);

// Process all File objects
for (var i = 0, f; f = files[i]; i++) {
parseFile(f);
uploadFile(f);
}
}

// Output
function output(msg) {
// Response
var m = document.getElementById('messages');
m.innerHTML = msg;
}

function parseFile(file) {

console.log(file.name);
output(
'<strong>' + encodeURI(file.name) + '</strong>'
);

// var fileType = file.type;
// console.log(fileType);
var imageName = file.name;

var isGood = (/\.(?=pdf)/gi).test(imageName);
if (isGood) {
document.getElementById('start').classList.add("hidden");
document.getElementById('response').classList.remove("hidden");
document.getElementById('notimage').classList.add("hidden");
// Thumbnail Preview
document.getElementById('file-image').classList.remove("hidden");
document.getElementById('file-image').src = URL.createObjectURL(file);
}
else {
document.getElementById('file-image').classList.add("hidden");
document.getElementById('notimage').classList.remove("hidden");
document.getElementById('start').classList.remove("hidden");
document.getElementById('response').classList.add("hidden");
document.getElementById("file-upload-form").reset();
}
}

function setProgressMaxValue(e) {
var pBar = document.getElementById('file-progress');

if (e.lengthComputable) {
pBar.max = e.total;
}
}

function updateFileProgress(e) {
var pBar = document.getElementById('file-progress');

if (e.lengthComputable) {
pBar.value = e.loaded;
}
}

function uploadFile(file) {

var xhr = new XMLHttpRequest(),
fileInput = document.getElementById('class-roster-file'),
pBar = document.getElementById('file-progress'),
fileSizeLimit = 1024; // In MB
if (xhr.upload) {
// Check if file is less than x MB
if (file.size <= fileSizeLimit * 1024 * 1024) {
// Progress bar
pBar.style.display = 'inline';
xhr.upload.addEventListener('loadstart', setProgressMaxValue, false);
xhr.upload.addEventListener('progress', updateFileProgress, false);

// File received / failed
xhr.onreadystatechange = function(e) {
if (xhr.readyState == 4) {
// Everything is good!

// progress.className = (xhr.status == 200 ? "success" : "failure");
// document.location.reload(true);
}
};

// Start upload
xhr.open('POST', document.getElementById('file-upload-form').action, true);
xhr.setRequestHeader('X-File-Name', file.name);
xhr.setRequestHeader('X-File-Size', file.size);
xhr.setRequestHeader('Content-Type', 'multipart/form-data');
xhr.send(file);
} else {
output('Please upload a smaller file (< ' + fileSizeLimit + ' MB).');
}
}
}

// Check for the various File API support.
if (window.File && window.FileList && window.FileReader) {
Init();
} else {
document.getElementById('file-drag').style.display = 'none';
}
}
ekUpload();





</script>

        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  id="brn_register">ارسال
                به
                کارشناس</button>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------->

<img id="logo_bottom" src="{% static 'root/image/icon_white_small.png' %}" alt="">

{% endblock body %}