{% extends "main_site.html" %}
{% load static %}
{% block extra_style %}

    <!--------###### style ######--------->
    <link rel="stylesheet" type="text/css" href="{% static 'root/css/bootstrap.css' %}"/>
    <!--------###### bootstrap ######--------->

    <link rel="stylesheet" type="text/css" href="{% static 'root/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'root/css/style_main_page.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'root/css/panel_backer.css' %}"/>
    <!--------###### main_style ######--------->

    <link rel="stylesheet" type="text/css" href="{% static 'root/css/all.css' %}"/>
    <!--------###### icon ######--------->

    <link rel="stylesheet" type="text/css" href="{% static 'root/css/menu_panel.css' %}"/>
    <!--------###### icon ######--------->

    <link rel="icon" href="{% static 'root/image/favicon.ico' %}">

{% endblock %}

{% block extra_js %}
    <!--------###### js ######--------->
    <script src="{% static 'root/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'root/js/bootstrap.js' %}"></script>
    <script src="{% static 'root/js/popper.min.js' %}"></script>

    <script src="{% static 'root/js/classie.js' %}"></script>
    <script src="{% static 'root/js/gnmenu.js' %}"></script>

    <script src="{% static 'root/js/all.js' %}"></script>
    <script src="{% static 'root/js/javascript.js' %}"></script>
    <script src="{% static 'root/js/javascript_main_page.js' %}"></script>

    <script src="{% static 'root/js/sweetalert.min.js' %}"></script>

{% endblock %}
