<!DOCTYPE html>
<html lang="fa">
    <head>
        <title>
            {% block title %}عنوان سایت اصلی{% endblock title %}
        </title>

        <meta charset="utf-8">

        {% block extra_style %}{% endblock %}

        {% block extra_js %}{% endblock %}

        {% block extra_head %}{% endblock %}

    </head>
    <body>

        {% block header %} {% endblock %}

        {% block body %}{% endblock body %}

    </body>
</html>

