{% extends 'backer/panel_menu_backer.html' %}
{% load static %}
{% block title %}پنل خیریه{% endblock %}


{% block body %}
<style>
    .card{
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        color: #232323;
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        color: #666;
        opacity: 0.8;
        transition: 1s;
        line-height: 25px;
     }
    .card:hover{
         opacity:1;
        transition: 1s;
    }



    .img-shadow-1
    {
        -webkit-box-shadow: 0 28px 16px -26px black;
        -moz-box-shadow: 0 28px 16px -26px black;
        box-shadow: 0 28px 16px -26px black;
    }

    .img-shadow-1:hover
    {
        transform:scale(1.05);
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -o-transform:scale(1.05);
        -webkit-box-shadow: 0 58px 36px -56px black;
        -moz-box-shadow: 0 58px 36px -56px black;
        box-shadow: 0 58px 36px -56px black;
    }

    .img-shadow-1
    {
        transition:all .6s ease-in-out;
        -webkit-transition:all .6s ease-in-out;
        -moz-transition:all .6s ease-in-out;
        -ms-transition:all .6s ease-in-out;
        -o-transition:all .6s ease-in-out;
    }

    .img-shadow-1:hover
    {
        transition:all .6s ease-in-out;
        -webkit-transition:all .6s ease-in-out;
        -moz-transition:all .6s ease-in-out;
        -ms-transition:all .6s ease-in-out;
        -o-transition:all .6s ease-in-out;
    }


    .card-columns {
      @include media-breakpoint-only(sm) {
        column-count: 1;
      }
      @include media-breakpoint-only(md) {
        column-count: 1;
      }

}
</style>

<div class=" card-deck text-center" style="margin:70px 70px 20px 10px;">

<div class="row">

    <div class="col-lg-4 col-12 mb-5">
        <div class="card image-hover img-shadow-1">
            <img class="card-img-top" src="{% static 'root/image/ch_4.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">پویش #اینجاکرمانشاه</h5>
                <p class="card-text">با آنکه بیش از ۶ ماه از زلزله دردناک کرمانشاه گذشته، اما هنوز مردم کرمانشاه به کمک تک تک ما نیاز دارند. ما کرمانشاه را فراموش نمی کنیم.
                تفاهم نامه ساخت سه خانه بهداشت و درمان با وزارتخانه بهداشت، درمان و آموزش پزشکی که ۳۰ روستای زلزله زده را پوشش میدهد، امضا شده است و اکنون به یاری شما خوبان برای ساخت کرمانشاه نیاز داریم.</p>
                <p class="card-text"><small class="text-muted">09130026714</small></p>
                <h3 class="card-text"><small class="text-muted">6104-3372-2838-2589</small></h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-12 mb-5">
        <div class="card image-hover img-shadow-1">
            <img class="card-img-top" src="{% static 'root/image/ch_2.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">کمپین سفر به کربلا</h5>
                <p class="card-text">آرزوی سفر به کربلا، آرزوی دیرینه ی مادران سرپرست خانوار است. ما تا کنون چندین سفر به کربلا را ترتیب داده ایم و اکنون قصد داریم این سفر ها را تکرار کنیم و تعداد بیشتری از مادران سرپرست خانوار را به این آرزو برسانیم.
                همراهی شما عزیزان به بهتر انجام شدن این طرح بسیار کمک می کند.</p>
                <p class="card-text"><small class="text-muted">09130026714</small></p>
                <h3 class="card-text"><small class="text-muted">6104-3372-2838-2589</small></h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-12 mb-5">
        <div class="card image-hover img-shadow-1">
            <img class="card-img-top" src="{% static 'root/image/ch_3.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">سبد کالای خانوار نیازمند</h5>
                <p class="card-text">به لطف خدا و حمایت شما نیکوکاران عزیز در ماه مبارک رمضان نیز مانند دوره های گذشته، با پویش «سبدنیکی» قصد تهیه و توزیع سبد کالای خانوار بین خانواده های به شدت نیازمند تحت پوشش داریم.
                برای تامین هزینه ­های مالی این پروژه، حمایت تک تک شما عزیزان نیاز داریم. از حمایت هایتان بسیار متشکریم.
                </p>
                <p class="card-text"><small class="text-muted">09130026714</small></p>
                <h3 class="card-text"><small class="text-muted">6104-3372-2838-2589</small></h3>
            </div>
        </div>
    </div>

</div>    <!--row-->

</div>



<img id="logo_bottom" src="{% static 'root/image/icon_white_small.png' %}" alt="">

{% endblock body %}