*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.container #image_header {
    position: fixed;
    z-index: 220;
    top: 0;
    right: 60px;
    margin: 10px;
}
.container #title_header {
    right: 97px;
    color: #eee;
    position: fixed;
    top: 15px;
    z-index: 200;
}
.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: #2b333d;
    	color: #ffffff;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		line-height: 60px;
}
.gn-menu-main {
        opacity: 0.97;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
        z-index: 100;
}
.gn-menu-main a {
		display: table;
		height: 100%;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
}
.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #24272d;
		color: white;
}
.gn-menu-main > li {
		display: block;
		float: right;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 62px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin-right: -2px;
}
.gn-menu-main > li:last-child {
		float: left;
		border-right: none;
}
.gn-menu-main > li > a {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}
.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 60px;
		bottom: 0;
		right: 60px;
		overflow: hidden;
		width: 60px;
		border-top: 1px solid #24272d;
		background: #2b333d;
		-webkit-transform: translateX(60px);
		-moz-transform: translateX(60px);
		transform: translateX(60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
		text-align: left;
		font-size: 15px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1
}

.left_menu{
    display: inline-flex;
}

.left_menu a{
    padding:5px 10px;
}


/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}



.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		right: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
	    margin-left: 11px;
}



/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
	margin-right: 13px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: white;
    box-shadow: 0 3px #2b333d, 0 -6px white, 0 -9px #2b333d, 0 -12px white;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 0 3px #2b333d, 0 -6px white, 0 -9px #2b333d, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		background: white;
    	box-shadow: 0 3px #24272d, 0 -6px white, 0 -9px #24272d, 0 -12px white;
}

/* styles for opening menu */



.gn-menu-wrapper.gn-open-all {
		width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) {

	.gn-menu-wrapper.gn-open-all {
			width: 80%;
	}

	.gn-menu-wrapper {
		position: fixed;
		top: 60px;
		bottom: 0;
		right: 60px;
		overflow: hidden;
		width: 0;
		border-top: 1px solid #c6d0da;
		background: #2b333d;
		-webkit-transform: translateX(60px);
		-moz-transform: translateX(60px);
		transform: translateX(60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
	}

	.main {
		background: white;
		border-radius: 5px;
		z-index: -1;
		margin-top: 70px;

	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}
