body {
	margin: 0;
	padding: 0;
}
.Home {
	display: block;
}

.Home-wrapper {
	display: block;
	width: 100%;
	height: 100%;
}

.Side-left {
	background-color: #000407;
	height: 100%;
	left: -100%;
	/* overflow: hidden; */
	position: absolute;
	top: 0;
	transform: skew(-45deg);
	width: 150%;
	z-index: 5;
}
.Side-left-wrapper {
	width: 100%;
	height: 100%;
}
.Side-left-image {
	background:url(../image/1.jpg) center no-repeat transparent;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	transform: skew(45deg);
	width: 100%;
}
.Side-right {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #e5e5e3;
}
.Side-right-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url(../image/1.jpg) center no-repeat transparent;
	}

.Signature {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  color: #fff;
  line-height: .2;
  font-size: .7em;
}

@media screen and (max-width: 768px) {

	.Side-left {
		top: -65%;
		left: 0;
		transform: skewY(-35deg);
		width: 100%;
	}
		.Side-left-image {
			background-size: 65%;
			left: 0;
			top: 50%;
			transform: skewY(35deg);
		}

	.Side-right-image {
		top: -15%;
		background-size: 65%;
	}

}

.gn-menu li:hover {
    background:#053f51;
}

/* ################################################## */


	.rect1{
		width: 45px;
		background: white;
		opacity: 0.8;
		height: 100vh;
		float: right;
		box-shadow: 0 0 8px #000407;
	}
	.rect2{
		margin:0 10px;
		width: 45px;
		background: white;
		opacity: 0.8;
		height: 100vh;
		float: right;
		clear: left;
		box-shadow: 3px 3px 8px 0px #e5e5e3;

		/* position: relative; */
		/* left: -70px; */
		/* top: -690px; */
	}



	/* ################################################### */


	