@font-face {
    font-family:'yekan';/*تعریف یک نام برای فونت*/
    src:url('../fonts/yekan.eot');/*اکسپلورر 9 به بعد*/
    src:local('yekan'),/*بررسی نصب بودن فونت در سیستم کاربر*/
        local('yekan'),/*برای برخی از مرورگرها مانند سافاری*/
        url('../fonts/yekan.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
        url('../fonts/yekan.woff') format('woff'),/*مرورگر های جدید*/
        url('../fonts/yekan.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
        url('../fonts/yekan.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
}

body{
    font-family:yekan, Helvetica, sans-serif;
    direction:rtl;
    padding:0;
    margin: 0;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size:0.8em;
}
body{
	background:url(../image/edit_4.jpg) fixed center;
	background-size: 110%;
	background-repeat: no-repeat;
	background-size: cover;

}
.row{
     margin-right: 0px !important;
     margin-left:  0px !important;
}



/* ############### HEADER ############### */
header{
    display: none;
}
#main_menu{
    background:#041d4a;
}
#menu_top {
    float: right;
    text-align: right;
    color:#e3e3e3;
    list-style: none;
    padding: 0;
    font-size: 14px;
}
#menu_top li {
    color:#e3e3e3;
    padding: 10px 20px;
}
#menu_top li a{
    color:#e3e3e3;
    text-decoration: none;
}
#menu_top li a:hover{
    color:#0a898d;
    text-decoration: none;
}
#btn_menu_top{
    background: #28a745;
}
#text_menu_top{
    color:#e3e3e3;
    padding: 2px;
}
/* ############### HEADER ############### */

/* ############### MAIN ############### */
    #main_login_reg h3 {
        border-bottom: 2px solid #458d9e;
        padding-bottom: 15px;
    }
    #right{
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        color: #232323;
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        color: #666;
        opacity: 0.9;
        transition: 1s;
        transition: 1s;
    }
    #right:hover{
        opacity:1;
        transition: 1s;
    }

    #left{
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        color: #232323;
        margin: 50px 10px;
        outline: none;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        color: #666;
        opacity: 0.9;
        /*height: 390px;*/
        transition: 1s;
        margin-bottom: 300px;

    }
    #left:hover{
        opacity:1;
        transition: 1s;
    }

    #units{
        height: calc(2.8rem + 2px);
        padding-top: 4px;
        border-radius: 0;
        border: 2px solid #f9f9f9;
    }
    #units:focus{
        background-color: #fff;
        border-color: #529ba68c;
        outline: 0;
        box-shadow: 0 0 0 0.1rem rgba(74, 145, 160, 0.43);
    }
    #text_complaint{
        border-radius: 0;
        border: 2px solid #f9f9f9;
        min-height:100px;
        max-height:200px;
    }
    #text_complaint:focus{
        background-color: #fff;
        border-color: #529ba68c;
        outline: 0;
        box-shadow: 0 0 0 0.1rem rgba(74, 145, 160, 0.43);
    }

    input[type="text"],input[type="tel"],input[type="password"],input[type="email"],input[type="number"]{
        border-radius: 0;
    border: 2px solid #f9f9f9;
    }
    input[type="text"]:focus,input[type="tel"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="number"]:focus{
        background-color: #fff;
        border-color: #529ba68c;
        outline: 0;
        box-shadow: 0 0 0 0.1rem rgba(74, 145, 160, 0.43);
    }
     input[type="text"]:hover,input[type="tel"]:hover,input[type="password"]:hover,input[type="email"]:hover{

    }


    #form_radio{
        background: #fdfdfd;
        width: 100%;
        padding: 10px 17px 1px 0;
        margin: 0px 0 15px;
        font-weight: bold;
        font-size: 13px;
            border-radius: 0;
    border: 2px solid #f9f9f9;
    }
    #inlineRadio1{
        margin-top: 0;
        margin-right: 1.3125rem;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    #inlineRadio2{
        margin-top: 0;
        margin-right: 0.3125rem;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    #form_radio label{
        margin-bottom: 8px;
        margin-right: -5px;
        margin-left: 20px;
    }
   #btn_register{
        border-radius: 0;
        background-color: #0098c2;
        border-color: #0099c4;
   }
   #btn_login{
        border-radius: 0;
        margin-top: 30px;
        background-color: #0098c2;
        border-color: #0099c4;
   }

    #logo_top{
        height: 200px;
        margin-top: 40px;
    }

    #text_report{
        text-align: center;
        font-size:15px;
        color: #f8fafc;
        background-color: #2c3840;
        border-color: #2c3840;
        margin: 10px auto;
    }
    #logo_bottom{
        float: left;
        position: fixed;
        left: 20px;
        bottom: 10px;
        height: 70px;
        opacity:0.7;
    }



/* ############### MAIN ############### */

/* ############### FOOTER ############### */
#main_f{
    position: fixed;
    bottom: 0;
    width: 100% 
}
footer{
    background: #001421;
    color: #e3e3e3;
    position: relative;
    margin: 0 !important;
}
#footer_top{
    display: none;
}
#menu_bottom {
    color:#e3e3e3;
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
}
.icon_network_1 a{
    font-size: 18px;
    color: #e3e3e3;
    padding: 0 10px;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
#icon_f:hover{
    color:#3B5998 ;
}
#icon_i:hover{
    color:#DD2A7B;
}
#icon_tw:hover{
    color:#08a0e9 ;
}
#icon_g:hover{
    color:#DB4437 ;
}
#icon_te:hover{
    color:#0088cc ;
}
#icon_y:hover{
    color:#E62117 ;
}
.btn_menu {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-text-shadow: 0 0 50px transparent;
    -moz-text-shadow: 0 0 50px transparent;
    -ms-text-shadow: 0 0 50px transparent;
    -o-text-shadow: 0 0 50px transparent;
    text-shadow: 0 0 50px transparent;
    color: rgba(0, 0, 0, 0.1);
    overflow: visible;
}
.btn_menu:hover {
    -webkit-text-shadow: 0 0 0px black;
    -moz-text-shadow: 0 0 0px black;
    -ms-text-shadow: 0 0 0px black;
    -o-text-shadow: 0 0 0px black;
    text-shadow: 0 0 0px black;
}
#menu_bottom li {
    color:#e3e3e3;
    padding: 10px 20px;
}
#menu_bottom li a{
    color:#e3e3e3;
    text-decoration: none;
}
#menu_bottom li a:hover{
    color:#0a898d;
    text-decoration: none;
}
#underfooter{
    text-align: center;
    background: #000407;
    color: #e3e3e3;
    bottom: 0;
    position: relative;
    margin: 0 !important;
    padding-top:15px;
}
#main_enamad{
    text-align: right;
}
#main_enamad ul{
    padding: 0;
    margin:0;
}
#main_enamad ul li img{
    width: 120px !important;
    height: 60px !important;
}
#main_menu_bottom nav{
    padding: 11px 0 0;
}
#btn_manu_bottom{
    padding-top: 12px;
    text-align: left;
}
#right_u{
    text-align: right;
}
#footer_complaint a{
     color:#0098c2 !important;
}

/* ############### FOOTER ############### */


@media (max-width: 575.98px) { 
    header{
        display: block;
    }
    #main_f{
        position: relative;
    }
    #right_u{
        text-align: center;
    }
    #left{
        margin-bottom: 50px !important;
    }
    .accordion {
        margin-top: 70px;
    }
    #right {
      margin: 0 0 20px!important;
    }
    #left{
      margin: 80px 0 20px !important;
    }


 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    header{
        display: flex;
    }
    #main_f{
        position: relative;
    }
    #right_u{
        text-align: center;
    }
    .accordion {
        margin-top: 70px;
    }

   #right {
      margin: 0 0 20px!important;
    }
    #left{
      margin: 80px 0 20px !important;
        margin-bottom: 50px !important;

    }

 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    header{
        display: flex;
    }
    #main_f{
        position: relative;
    }
    #right_u{
        text-align: center;
    }
    .accordion {
        margin-top: 70px;
    }
    #right {
      margin: 0 0 20px!important;
    }
    #left{
      margin: 80px 0 20px !important;
        margin-bottom: 50px !important;
    }
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    #footer_top{
        display: flex;
    }
    .accordion {
        margin-top: 20px;
    }
 }

@media (min-width: 1200px) { 
    #footer_top{
        display: flex;
    }
    .accordion {
        margin-top: 20px;
    }
 }

