{% extends 'base.html' %}
{% load static %}
{% block title %} ورود و ثبت نام{% endblock %}
{% block body %}
{% load widget_tweaks %}

<!-- header -->
    <header>
        <!-- nav -->
        <nav class="navbar fixed-top navbar-expand-lg" id="main_menu">
            <button class="navbar-toggler" id="btn_menu_top" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" id="text_menu_top">منو</span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav" id="menu_top">
                    <li class="nav-item active">
                        <a href="#!" class="btn_menu">صفحه اصلی <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="btn_menu">جوایز</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="btn_menu">قوانین</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="btn_menu">سوالات متداول</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="btn_menu">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="btn_menu">تماس با ما</a>
                    </li>
                </ul>
            </div>

          </nav>
          <!-- nav -->
    </header>
<!-- header -->


<!--#################### main #######################-->
<!-- TODO: Getting messages and managing  -->

<script>
    $(document).ready(function () {

        function refresh_captcha(){
            $('#register_captcha img').attr("id","image_reg_captcha");

            $.getJSON("/captcha/refresh/", function (result) {
                $('#image_reg_captcha').attr('src', result['image_url']);
                $('#register_captcha_0').val(result['key'])
            });
        }



        $("#btn_register").click(function () {

            $( "span" ).html( "" );

            refresh_captcha()

            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();

            var register_captcha_0 = $("#register_captcha_0").val();
            var register_captcha_1 = $("#register_captcha_1").val();

            var phone_number = $("#phone_number").val();
            var email = $("#email").val();

            var gender = $("input[name='gender']:checked").val();
            var password_reg = $("#password_reg").val();
            var re_password_reg = $("#re_password_reg").val();
            var username = $("#username").val();

            var confirm_form = $("#confirm_form:checked").val();


            $.ajax({
                url: '{% url 'user-authentication' %}',
                type: 'POST',
                dataType: 'json',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    first_name: first_name,
                    last_name: last_name,
                    phone_number: phone_number,
                    email: email,
                    gender: gender,
                    password_reg: password_reg,
                    re_password_reg: re_password_reg,
                    username: username,
                    confirm_form: confirm_form,
                    register_captcha_0: register_captcha_0,
                    register_captcha_1: register_captcha_1,
                },
                success: function (res) {
                    // alert(res.errors);
                    // console.log(res.errors.username);

                    var x = res.status;
                    if (x == "ok") {
                        swal("عملیات با موفقیت انجام شد .", res.message, "success");

                        $("#first_name").val("");
                        $("#last_name").val("");
                        $("#phone_number").val("");
                        $("#email").val("");
                        $("#password_reg").val("");
                        $("#re_password_reg").val("");
                        $("#username").val("");
                        $("#register_captcha_1").val("");

                    } else {

                        swal("لطفا مجدد تلاش کنید .", res.message, "error");

                        var y = JSON.stringify(res.errors);
                        var myObj = JSON.parse(y);


                        // console.log(myObj.email);
                        // console.log(myObj.first_name);

                        for (x in myObj) {
                            var error = myObj[x];

                            document.getElementById(x + '_error').classList.add("show_error");
                            document.getElementById(x + '_error').classList.remove("hidden_error");

                            document.getElementById(x + '_error').innerHTML = error;
                        }

                    }

                }
            });
        });
    });


</script>

<!-- TODO: add correct validation to fields register -->

<main class="row justify-content-center" id="main_login_reg">
     <div class="col-lg-5 col-12 order-2" id="right" style="    margin-top: 50px;margin-bottom: 20px;">
        <form class="text-right">
            <h3 class="text-right mb-4">عضویت</h3>
            <div class="form-row">
                <!--{{ my_register_form.as_p }}-->
                <div class="form-group col-sm-6">
                    {% render_field my_register_form_part1.first_name class+="form-control" placeholder='نام' id="first_name" %}
                    <span style="color:red;" class="hidden_error error" id="first_name_error"></span>
                </div>
                <div class="form-group col-sm-6">
                    {% render_field my_register_form_part1.last_name class+="form-control" placeholder='نام خانوادگی' id="last_name" %}
                    <span style="color:red; " class="hidden_error error" id="last_name_error"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    {% render_field my_register_form_part1.username class+="form-control" placeholder='کد ملی' id="username" %}
                    <span style="color:red; " class="hidden_error error" id="username_error"></span>
                </div>
                <div class="form-group col-sm-6">
                    {% render_field my_register_form_part2.phone_number class+="form-control" placeholder='شماره موبایل' id="phone_number" %}
                    <span style="color:red; " class="hidden_error error" id="phone_number_error"></span>
                </div>
            </div>
            <div class="form-group">
                {% render_field my_register_form_part1.email class+="form-control" placeholder='ایمیل' id="email" %}
                <span style="color:red; " class="hidden_error error" id="email_error"></span>
            </div>
            <style>
                #gender {
                    display: inherit;
                    list-style: none;
                }

                .form-check-input {
                    margin-left: 5px !important;
                    padding: 0 0 !important;
                    vertical-align: sub !important;
                    margin-top: 3px !important;
                    margin-right: 0.3125rem !important;
                    margin-bottom: 0 !important;
                }


                .show_error {
                    display: block !important;
                    margin-right: 10px;
                }

                .hidden_error {
                    display: none !important;
                }

            </style>
            <div class="form-group form-check form-check-inline" id="form_radio">
                <label>جنسیت : </label>
                {% render_field my_register_form_part2.gender class+="form-check-input" id="gender" %}
                <span style="color:red;" class="hidden_error error" id="gender_error"></span>
            </div>
            <div class="form-group">
                {% render_field my_register_form_part1.password_reg class+="form-control" placeholder='رمزعبور' id="password_reg" %}
                {% for help_text in my_register_form_part1.password_reg.help_text %}
                    <li><strong>{{ help_text|safe }}</strong></li>
                {% endfor %}
                <span style="color:red;" class="hidden_error error" id="password_reg_error"></span>
            </div>
            {{ form.media }}
            <div class="form-group">
                {% render_field my_register_form_part1.re_password_reg class+="form-control" placeholder='تکرار رمزعبور' id="re_password_reg" %}
                <span style="color:red; " class="hidden_error error" id="re_password_reg_error"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    {% render_field my_register_form_part1.confirm_form class+="form-check-input" id="confirm_form" %}
                    <label class="form-check-label mr-4" for="confirm_form">تایید قوانین</label>
                    <span style="color:red; " class="hidden_error error" id="confirm_form_error"></span>
                </div>
            </div>
            <div id="register_captcha" class="form-group row justify-content-around " style="  text-align: left;  margin-top: 30px !important;">
                <button type="button" id="btn_ref_reg" class="btn btn-light btn-sm"><i class="fas fa-redo-alt"></i></button>
                {% render_field my_register_form_part2.register_captcha class+="col-5 form-control " id="captcha" %}
                <span style="color:red;" class="hidden_error error" id="register_captcha_error"></span>
            </div>
            <button type="button" class="btn btn-primary col-12" id="btn_register">ثبت نام</button>
        </form>
    </div><!--register-->

    <script>
        $('#btn_ref_reg').click(function () {

            $('#register_captcha img').attr("id","image_reg_captcha");
            $.getJSON("/captcha/refresh/", function (result) {
                $('#image_reg_captcha').attr('src', result['image_url']);
                $('#register_captcha_0').val(result['key'])
            });
        });
    </script>

    <!-- ########################## -->


    <!-- TODO: add correct validation to fields login  -->

    <div class="col-lg-4 col-12 order-1" id="left">
        <form class="text-right" method="post" action="{% url 'user-authentication' %}">{% csrf_token %}
            <h3 class="text-right mb-4">ورود</h3>
            <!--{{ my_login_form.non_field_errors }}-->
            <p>
            {% for err in my_login_form.non_field_errors %}
                <span style="color:red; " class="error">{{ err }}</span>
            {% endfor %}
            </p>
            <div class="form-group">
                {% render_field my_login_form.username_login class+="form-control" placeholder='کد ملی' %}
            </div>
            <div class="form-group">
                {% render_field my_login_form.password_login class+="form-control" placeholder='رمزعبور' %}
            </div>
             <div id="login_captcha" class="form-group row justify-content-around">

                 <button type="button" id="btn_ref_login" class="btn btn-light btn-sm"><i class="fas fa-redo-alt"></i></button>

                {% render_field my_login_form.login_captcha class+="col-5 form-control"%}
                <span style="color:red; " class="hidden_error error" id="login_captcha_error"></span>
            </div>
            <div class="form-group form-check">
                {% render_field my_login_form.remember_me class+="form-check-input" %}
                <label class="form-check-label mr-4" for="remember_me">مرا به خاطر بسپار</label>
            </div>
            <button type="submit" id="btn_login" class="btn btn-primary col-12">ورود</button>
            <div></div>
        </form>
    </div><!--login-->
</main>

    <script>
        $('#btn_ref_login').click(function () {

            $('#login_captcha img').attr("id","image_login_captcha");

            $.getJSON("/captcha/refresh/", function (result) {
                $('#image_login_captcha').attr('src', result['image_url']);
                $('#id_login_captcha_0').val(result['key'])
            });
        });
    </script>

<!--####################### main ####################-->


<!-- footer -->
<div id="main_f" class="fixed-bottom">

    <!-- Footer -->
    <footer class="page-footer font-small ">

        <!-- Footer Links -->
        <div class="container-fluid text-center ">

        <!-- Grid row -->
        <div class="row" id="footer_top">
            <!-- Grid column -->
            <div class="col-md-2" id="main_enamad">
                <ul id="emenad" class="list-unstyled" >
                    <li>
                        <a href="#!">
                            <img src="{% static 'root/image/enamad.png' %}" alt="enamad">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-8" id="main_menu_bottom">
                <nav class="navbar navbar-expand-lg text-light">
                    <ul class="navbar-nav list-unstyled" id="menu_bottom" >
                        <li class="nav-item active">
                            <a href="#!" class="btn_menu">صفحه اصلی <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="btn_menu">جوایز</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="btn_menu">قوانین</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="btn_menu">سوالات متداول</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="btn_menu">درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="btn_menu">تماس با ما</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2" id="btn_manu_bottom">
                <button type="button" class="btn btn-success btn-block">ورود و عضویت</button>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- footer-under -->
        <div class="footer-under" >
            <div id="underfooter" class="row">
                <div id="right_u" class="col-lg-2 col-md-4 col-md-12">
                    <p> یزد &nbsp;-&nbsp; خیابان ولایت &nbsp;-&nbsp; پلاک 1</p>
                </div>

                <div class="col-lg-2 col-md-4 col-md-12 icon_network_1">

                    <a href="#" id="icon_f"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" id="icon_i"><i class="fab fa-instagram"></i></a>
                    <a href="#" id="icon_tw"><i class="fab fa-twitter"></i></a>

                </div>

                <div id="center_u" class="col-lg-4 col-md-4 col-md-12 ">
                    <p>کلیه ی حقوق این سایت متعلق به مجموعه ParsRIX هست</p>
                </div>


                <div class="col-lg-2 col-md-4 col-md-12 icon_network_1">

                    <a href="#" id="icon_g"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" id="icon_te"> <i class="fab fa-telegram"></i></a>
                    <a href="#" id="icon_y"><i class="fab fa-youtube"></i></a>

                </div>


                <div id="left_u" class="col-lg-2 col-md-4 col-md-12 ">
                    <p>09130026714 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 03537213588  </p>
                </div>
            </div>
        </div>
        <!-- footer-under -->

      </footer>
      <!-- Footer -->

</div><!--main_footer-->



{% endblock %}