<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>please select panel</p>
    <p><a href="{% url 'backer-panel' %}">Login as Backer</a></p>
    <p><a href="{% url 'thinker-panel' %}">Login as Thinker</a></p>
</body>
</html>